@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
    font-family: "inter",sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*/////////GESTION DES LARGEURS///////////*/
.width25{
    width: 25%;
    
}

a {
    text-decoration: none;
    color: black;
}
.width30{
    width: 30%
}

h3 {
    margin-bottom: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.width40{
    width: 40%;
}
.width45{
    width: 45%;
}

.width50{
    width: 50%;
}
.width60{
    width: 60%;
}
.width65{
    width: 65%;
}
.width70{
    width: 70%;
}
/*///////////////FIN/////////////////*/
.bold{
    font-weight: 900;
}

.spaceBetween{
    justify-content: space-between;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 12px;
}

.paddSection{
    padding: 40px;
    
}
/*NAV*/

nav img{
    width: 6%;
    height: 40px;
    padding: 5px;
}

nav li{
    list-style: none;
     padding: 17px;
    
}

nav a{
    text-decoration: none;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.navBtn{
    background-color: rgba(5, 135, 242, 0.797);
    color: white;
    padding: 12px;
    margin-left: 25px;
    border-radius: 25px;
}

.nvDv{
    padding: 20px;
}

/*SECTION HERO*/


.hero { 
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hebT{
    text-decoration: none;
    background-color: rgba(0, 153, 255, 0.628);
    color: white;
    padding: 12px;
    border-radius: 15px;
    font-weight: 800;
    

}

h1{
    margin-top: 12px;
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    
}

.hero div { 
    background-color: #aa9f9f28;/*penser a abaisser la second barre*/
     width: 50%;
     position: absolute; /*permet de modifier la position*/
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);/*permet de déplasser la div*/
     text-align: center;
     padding: 64px;
     border-radius: 23px;
     color: white;
     backdrop-filter: blur(10px);/*permet de flouter*/
 }





/*SECTION SERVICE*/

.bgserv{
   
    align-items: center;
}

.carte{
    width: 280px;
    height: 578px;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 12px;
}

.carte img{
    width: 100%;
    object-fit: fill;
    border-radius: 12px;
}

.divSpad{
    padding: 12px;
    
}

.divSpad p{
    margin-top: 23px;
    margin-bottom: 20px;
}

.loser{
    text-decoration: none;
    background-color: rgba(0, 153, 255, 0.628);
    color: white;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 15px;
    font-weight: 700;
}


/*SECTION AVANTAGE*/

.avantage{
    
    padding: 15px;
    list-style: none;
}

.alit{
    text-align: center;
}
.bls{
    background-color: #1f9cd7 ;
}

.boite{
    width: 300px;
    height: 100px;
    padding: 12px;
    text-align: center;
}

.boite img {
    width: 80px;
    height: 65px;
}


/*SECTION TEMOIGNAGE*/

.contain{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 12px;

}

.cont{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 12px;
}

.bgCol{
   background-color: #32b7ff81 ; 
}
.carteTemoignage{
    width: 300px;
    height: 168px;
    background-color: rgb(215, 249, 81);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px;
}

.divtem{
    padding: 4px;
}



/*SECTION CONTACT*/
.blk{
    display: block;
}
.contact{
    align-items: baseline;
}




/*SECTION FOOTER*/

.ftl{
    font-size:25px;
}
.bgcolor{
    background-color: rgb(0, 15, 0);
    color: white;
    height: 200px;
}